---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { siteConfig } from '@/site-config'

import links from 'public/links.json'
import '@/assets/styles/links.css'

const headings = [
  {
    depth: 2,
    slug: 'friend-link',
    text: 'Friend Links'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply For Linking'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>The displayed order is random generated.</p>
  <h2 id='friend-link'>Friend Links</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='Mentor Links'>
    <FriendList list={friendlist[1]} />
  </Collapse>

  <!-- apply-links -->
  <h2 id='apply-links'>Apply For Linking</h2>
  <p>The information of this site is：</p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>Name：<code>{siteConfig.applyFriendTip.name}</code></p>
    <p>Brief：<code>{siteConfig.applyFriendTip.slogan}</code></p>
    <p>Link：<code>{siteConfig.applyFriendTip.url}</code></p>
    <p>Icon：<code>{siteConfig.applyFriendTip.avatar}</code></p>
  </blockquote>

  <p>
    Please leave a message following the template above (<a
      href='https://github.com/cworld1/theme-astro-pure/blob/main/public/links.json'
      target='_blank'>submitting a PR</a
    > might be even faster). A few notes on applying:
  </p>
  <ul>
    <li>You have added this site to your friend links;</li>
    <li>Please make sure your site is up and running;</li>
    <li>Blog content must not violate applicable laws.</li>
  </ul>
</PageLayout>
